.imageDisplay {
    width: 500px;
    height: 672px;
    padding-bottom: 1em;
    opacity: 0.8;
}



  .textDiv {
      width: 450px;
      text-align: center;
    background-color: whitesmoke;
    /* border: 2px solid red; */
    z-index: 100;
    position: absolute;
    color: black;
    font-size: 24px;
    font-weight: bold;
    left: 50px;
    top: 550px;
    
  }

#title-header {
  text-align: center;
  background-color:black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navigation {
  text-align: center;
}